.header {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 10vh 20% 0vh 20%;
    background-color: brown;
    margin-bottom: 5vh;
}

.loge {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.park {
    display: flex;
    justify-content: space-around;
}

p {
    border-radius: 50%;
    background-color: aqua;
    padding: 2%;
}

.leinwand {
    text-align: center;
    border: 1px solid black;
    padding: 25px;
    margin: 10vh 20% 0vh 20%;
    background-color: antiquewhite;

}